<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="Image title...">
                    </div>
                    <div class="form-group">
                        <textarea name="description" class="form-control" placeholder="Image description"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="inputGroupFile01">
                            <label for="inputGroupFile01" class="custom-file-label">Choose an image...</label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block">Upload photo</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                {{#each photos}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td>
                        <a href="{{imageURL}}" target="_blank" class="btn btn-primary">View</a>
                        <a href="/images/delete/{{_id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>